src/__pycache__
src/utils/__pycache__
src/methods/__pycache__
resources/rfc2616.pdf
src/logs
src/.tmp.txt
venv
# src/assets
src/methods/__pycache__/post.cpython-36.pyc
src/methods/__pycache__/put.cpython-36.pyc
src/assets/site
src/config/__pycache__/config.cpython-36.pyc
src/methods/__pycache__/post.cpython-36.pyc
